/* ---------- x ---------- De editar publicação ---------- x ----------*/
body{
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------- x ---------- Principal ---------- x ----------*/
/* ---------- x ---------- Seção de edição ---------- x ----------*/
.primeiro-titulo-da-pagina{
    margin: 0 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 2.2rem;
}

.segundo-titulo-da-pagina{
    font-size: 1.9rem;
    margin-bottom: 0;
}

.div-do-formulario{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0 50px;
    margin-top: 60px;
    margin-bottom: 80px;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input, select{
    outline: none;
    font-family: Nunito;
    color: var(--azul-mais-escuro);
    padding: 15px;
    font-size: 1.4rem;
    border-radius: 5px;
    border: 2.5px solid var(--azul-mais-escuro);
    text-align: center;
}

.input-nome{
    margin-bottom: 30px;
    margin-top: 15px;
    width: 69%;
}

.select-tipo{
    width: 29%;
}

input{
    margin-bottom: 30px;
}

input::placeholder{
    color: var(--azul-claro);
}

.botao-1{
    width: 48%;
    padding: 10px 30px;
    font-size: 1.5rem;
    margin-top: 60px;
    border: 2px solid transparent;
    border-radius: 7px;
    text-align: center;
}

.botao-2{
    width: 48%;
    padding: 10px 40px;
    font-size: 1.5rem;

    border: 2px solid transparent;
    border-radius: 7px;
    text-align: center;
}

.botao:hover{
    cursor: pointer;
}

select:hover{
    cursor: pointer;
}

.botao-retroceder{
    background-color: transparent;  
    color: var(--azul-mais-escuro); 
    border-color: var(--azul-mais-escuro);
}

.botao-retroceder:hover{
    color: var(--azul-menos-escuro); 
    font-weight: bold;
}

.botao-avancar{
    background-color: var(--azul-mais-escuro);  
    color: white; 
    border-color: var(--azul-mais-escuro);
}

.botao-avancar:hover{
    background-color: white;  
    color: var(--azul-mais-escuro); 
    font-weight: bold;
}


/* ---------- x ---------- Do formulário ---------- x ----------*/
fieldset{
    width: 100%;
    padding: 20px 30px 0 30px;
}

.field-formulario-1{
    display: flex;
    justify-content: space-between;
}

legend{
    font-size: 1.5rem;
    color: var(--azul-mais-escuro);
}

.input-nome-do-administrador, .input-email-do-administrador{
    width: 49%;
}

@media screen and (max-width:885px){
    .field-formulario-1{
        flex-direction: column;
    }

    .input-nome-do-administrador, .input-email-do-administrador{
        width: 100%;
    }
}

@media screen and (max-width:430px){
    body{
        overflow: auto;
    }

    .primeiro-titulo-da-pagina{
        font-size: 1.6rem;
        margin-top: 30px;
    }
    
    .segundo-titulo-da-pagina{
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .field-formulario-1{
        border: none;
        text-align: center;
    }

    legend{
        display: none;
    }

    .div-do-formulario {
        padding: 0 30px;
        margin: 0 0;
    }

    .divisao-do-formulario{
        display: flex;
        flex-direction: column-reverse;
    }
    
    input{
        padding: 8px;
        font-size: 1.3rem;
    }

    .botao-1, .botao-2{
        width: 100%;
        margin: 0;
        margin-bottom: 25px;
        
    }

}