/* ----- x ----- Main ----- x ----- */
.primeiro-titulo-da-pagina{
    text-align: center;
    font-size: 2rem;
    color: var(--azul-mais-escuro);
    margin: 75px 0;
}

/* ----- x ----- Segunda Seção ----- x -----*/
.segunda-secao-da-parte-principal, .terceira-secao-da-parte-principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.paragrafo-do-primeiro-artigo-da-segunda-secao-da-parte-principal, .paragrafo-do-segundo-artigo-da-terceira-secao-da-parte-principal,
.unico-paragrafo-da-quarta-seccao{
    font-size: 2.5rem;
    color: var(--azul-menos-escuro);
}

.paragrafo-do-primeiro-artigo-da-segunda-secao-da-parte-principal{
    margin-bottom: 50px;
}

.imagem-da-segunda-secao-da-parte-principal, .imagem-da-terceira-secao-da-parte-principal{
    max-width: 600px;
}

.botao-do-primeiro-artigo-da-segunda-secao-da-parte-principal{
    padding: 6px 20px;
    font-size: 1.5rem;
    background-color: var(--azul-mais-escuro);
    color: white;
    border-radius: 5px;
}

.botao-do-primeiro-artigo-da-segunda-secao-da-parte-principal:hover{
    cursor: pointer;
    border: 2px solid var(--azul-mais-escuro);
    color: var(--azul-mais-escuro);
    background-color: white;
}

/* ----- x ----- Terceira Seção ----- x ----- */

.terceira-secao-da-parte-principal{
    margin-top: 180px;
    margin-bottom: 160px;
}

.ultimo-botao-da-terceira-seccao{
    padding: 6px 20px;
    font-size: 1.5rem;
    background-color: white;
    color: var(--azul-mais-escuro);
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid var(--azul-mais-escuro);
    border-radius: 5px;
}

.ultimo-botao-da-terceira-seccao:hover{
    cursor: pointer;
    background-color: var(--azul-mais-escuro);
    color: white;
}
/* ----- x ----- Quarta Seção ----- x ----- */

.unico-artigo-da-quarta-seccao-da-parte-principal-do-site{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ----- x ----- Seção  Sobre nós ----- x ----- */
.secao-sobre-nos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--azul-menos-escuro);
    padding-top: 30px;
    padding-bottom: 32px;
}

.titulo-da-secao-sobre-nos{
    text-align: center;
    font-size: 2.7rem;
    font-weight: bolder;
    color: var(--azul-mais-escuro);
    margin: 75px 0;
}

.primeiro-paragrafo-da-secao-sobre-nos, .segundo-paragrafo-da-secao-sobre-nos{
    font-size: 2.2rem;
    color: white;
    max-width: 70vw;
    text-align: justify;
    margin-bottom: 100px;
}

/* ----- x ----- Seção  Contacte-nos ----- x ----- */
.titulo-da-secao-contacte-nos{
    text-align: center;
    font-size: 2.7rem;
    font-weight: bolder;
    color: var(--azul-mais-escuro);
    margin-top: 70px;
    margin-bottom: 40px;
}

.secao-contacte-nos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 29px;
}

.item-da-lista-para-contactos{
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 30px;
    color: var(--azul-menos-escuro);
}

.artigo-de-icones-de-redes-sociais-da-secao-contacte-nos{
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.link-de-rede-social-1, .link-de-rede-social-2, .link-de-rede-social-3{
    font-size: 70px;
    color: var(--azul-mais-escuro);
}

.link-de-rede-social-1:hover, .link-de-rede-social-2:hover, .link-de-rede-social-3:hover{
    color: var(--azul-menos-escuro);
}

.link-de-rede-social-1, .link-de-rede-social-2{
    margin-right: 30px;
}

@media screen and (max-width:885px){
    /*Menu mobile*/
    .menu-mobile-section{
        display: initial;
    }

    .open{
        display: flex;
    }
    
    .row{
        flex-direction: row;
    }

    .section-logo-do-cabecalho{
        max-width: 90vw;
        padding: 0 10px;
    }
    
    .barra-de-navegacao{
        width: 10vw;
        justify-content: space-between;
    }

    .botao-menu-icon{
        background-color: transparent;
        font-size: 40px;
        color: var(--azul-mais-escuro);
    }

    .botao-menu-icon:hover{
        color: var(--azul-menos-escuro);
        cursor: pointer;
    }

    .botao-menu-icon-2{
        display: none;
    }

    .section-lista-de-links-mobile{
        justify-content: space-between;
        text-align: center;
    }

    .lista-de-links-mobile{
        padding-bottom: 5px;
    }

    .lista-de-botoes-mobile{
        padding-bottom: 5px;
    }

    .padding-tb{
        padding: 5px 0;
    }

    .margin-bottom{
        margin-bottom: 18px;
    }

    .none{
        display: none;
    }

    .primeiro-titulo-da-pagina, .titulo-da-secao-sobre-nos,
    .titulo-da-secao-contacte-nos{
        font-size: 1.7rem;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
    .paragrafo-do-primeiro-artigo-da-segunda-secao-da-parte-principal{
        font-size: 1.6rem;
        margin-top: 40px;
    }

    .paragrafo-do-segundo-artigo-da-terceira-secao-da-parte-principal,
    .unico-paragrafo-da-quarta-seccao, .primeiro-paragrafo-da-secao-sobre-nos,
    .segundo-paragrafo-da-secao-sobre-nos,
    .item-da-lista-para-contactos{
        font-size: 1.6rem;
        margin-top: 20px;
    }

    .primeiro-paragrafo-da-secao-sobre-nos,
    .segundo-paragrafo-da-secao-sobre-nos{
        margin-bottom: 40px;
    }

    /* ----- x ----- Segunda Seção ----- x -----*/
    .segunda-secao-da-parte-principal{
        flex-direction: column-reverse;
    }

    .primeiro-artigo-da-segunda-secao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .terceira-secao-da-parte-principal{
        flex-direction: column;
        margin-top: 70px;
        margin-bottom: 40px;
    }

    .imagem-da-segunda-secao-da-parte-principal, .imagem-da-terceira-secao-da-parte-principal{
        width: 70%;
    }

    .primeiro-artigo-da-terceira-secao, .segundo-artigo-da-terceira-secao{
        display: flex;
        justify-content: center;
    }

    .paragrafo-do-segundo-artigo-da-terceira-secao-da-parte-principal{
        text-align: center;
    }
    
    .link-de-rede-social-1, .link-de-rede-social-2, .link-de-rede-social-3{
        font-size: 50px;
    }
    
    .link-de-rede-social-1, .link-de-rede-social-2{
        margin-right: 10px;
    }

    .rodape{
        flex-direction: column;
        text-align: center;
    }

    .primeiro-link-do-rodape{
        margin-bottom: 15px;
    }

    .segunda-seccao-do-rodape{
        padding: 15px 0;
    }

}

@media screen and (max-width:430px){

    .row{
        flex-direction: row;
    }

    .section-logo-do-cabecalho{
        max-width: 86vw;
        padding: 0 10px;
    }
    
    .barra-de-navegacao{
        width: 14vw;
        justify-content: space-between;
    }

    .botao-menu-icon{
        background-color: transparent;
        font-size: 40px;
        color: var(--azul-mais-escuro);
    }

    .botao-menu-icon:hover{
        color: var(--azul-menos-escuro);
    }

    .botao-menu-icon-2{
        display: none;
    }

    .lista-de-links-mobile{
        padding-bottom: 5px;
    }

    .lista-de-botoes-mobile{
        padding-bottom: 5px;
    }

    .padding-tb{
        padding: 5px 0;
    }

    .margin-bottom{
        margin-bottom: 18px;
    }
    .none{
        display: none;
    }

    .primeiro-titulo-da-pagina, .titulo-da-secao-sobre-nos,
    .titulo-da-secao-contacte-nos{
        font-size: 1.7rem;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
    .paragrafo-do-primeiro-artigo-da-segunda-secao-da-parte-principal{
        font-size: 1.6rem;
        margin-top: 40px;
    }

    .paragrafo-do-segundo-artigo-da-terceira-secao-da-parte-principal,
    .unico-paragrafo-da-quarta-seccao, .primeiro-paragrafo-da-secao-sobre-nos,
    .segundo-paragrafo-da-secao-sobre-nos,
    .item-da-lista-para-contactos{
        font-size: 1.6rem;
        margin-top: 20px;
    }

    .primeiro-paragrafo-da-secao-sobre-nos,
    .segundo-paragrafo-da-secao-sobre-nos{
        margin-bottom: 40px;
    }

    /* ----- x ----- Segunda Seção ----- x -----*/
    .segunda-secao-da-parte-principal{
        flex-direction: column-reverse;
    }

    .primeiro-artigo-da-segunda-secao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .terceira-secao-da-parte-principal{
        flex-direction: column;
        margin-top: 70px;
        margin-bottom: 40px;
    }

    .link-de-rede-social-1, .link-de-rede-social-2, .link-de-rede-social-3{
        font-size: 50px;
    }
    
    .link-de-rede-social-1, .link-de-rede-social-2{
        margin-right: 10px;
    }

    
}