/* ---------- x ---------- Cabeçalho ---------- x ----------*/
.lista-de-botoes{
    width: 12vw;
    margin-right: 20px;
}
.botao-da-secao-de-botoes-do-cabecalho{
    border-radius: 6px;
}
/* ---------- x ---------- Principal ---------- x ----------*/
/* ---------- x ---------- Primeira seção ---------- x ----------*/
.primeira-secao-da-parte-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primeiro-titulo-da-pagina, .segundo-titulo-da-pagina{
    color: var(--azul-mais-escuro);
}

.primeiro-titulo-da-pagina{
    font-size: 3rem;
    margin-top: 60px;
    margin-bottom: 40px;
}

.segundo-titulo-da-pagina{
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 60px;
    margin-top: 10px;
    text-align: center;
}
/* ---------- x ---------- Segunda seção ---------- x ----------*/
.segunda-secao-da-parte-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 0 40px;
}

.formulario{
    width: 80%;
}

.field-formulario{
    padding: 8vh 4vw;
    border-radius: 7px;
    border: 2.5px solid var(--azul-mais-escuro);
}

.divisao-do-formulario-6, .divisao-do-formulario-7{
    margin-bottom: 40px;
}

input, select{
    outline: none;
    font-family: Nunito;
    color: var(--azul-mais-escuro);
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 2.5px solid var(--azul-mais-escuro);
    text-align: center;
    margin-bottom: 50px;
}

input::placeholder{
    color: var(--azul-claro);
}

.input-email, .input-senha, select{
    width: 100%;
}

.input-nome-do-pesquisador, .input-email-do-pesquisador, .input-nome-da-instituicao{
    margin-bottom: 35px;
}

.divisao-do-formulario{
    display: flex;
    justify-content: space-around;
}

.botao-senha{
 background-color: transparent;  
 color: var(--azul-menos-escuro); 
 font-size: 1.3rem;
}

.botao-senha:hover{ 
    color: var(--azul-mais-escuro); 
    cursor: pointer;
}

.botao-do-cadastro{/*Botão de login*/
    background-color: var(--azul-mais-escuro);
    color: white;
    width: 100%;
    padding: 10px 40px;
    font-size: 1.5rem;
    margin-top: 50px;
}

.botao-do-cadastro:hover{
    background-color: var(--azul-menos-escuro);
    cursor: pointer;

}

@media screen and (max-width:885px){

    /*Menu mobile*/
    .menu-mobile-section{
        display: initial;
    }

    .open{
        display: flex;
    }
    
    .row{
        flex-direction: row;
    }

    .section-logo-do-cabecalho{
        max-width: 90vw;
        padding: 0 10px;
    }
    
    .barra-de-navegacao{
        width: 10vw;
        justify-content: space-between;
    }

    .botao-menu-icon{
        background-color: transparent;
        font-size: 40px;
        color: var(--azul-mais-escuro);
    }

    .botao-menu-icon:hover{
        color: var(--azul-menos-escuro);
        cursor: pointer;
    }

    .botao-menu-icon-2{
        display: none;
    }

    .section-lista-de-links-mobile{
        justify-content: space-between;
        text-align: center;
    }

    .lista-de-links-mobile{
        padding-bottom: 5px;
    }

    .lista-de-botoes-mobile{
        padding-bottom: 5px;
    }

    .padding-tb{
        padding: 5px 0;
    }

    .margin-bottom{
        margin-bottom: 18px;
    }

    .none{
        display: none;
    }
    
    .lista-de-links{
        width: 90%;
    }

    .lista-de-botoes{
        width: 30vw;
    }

    .botao-da-secao-de-botoes-do-cabecalho{
        padding: 4px 1px;
        margin: 0;
    }

    .btn-login-nav-primeiro{
        margin-top: 10px;
        order: 1;
    }

    .primeiro-titulo-da-pagina{
        font-size: 2.2rem;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    
    .segundo-titulo-da-pagina{
        font-size: 1.3rem;
        margin-bottom: 60px;
    }

    .formulario{
        width: 99%;
        margin-bottom: 82px;
    }
    
    .field-formulario{
        padding: 40px 30px;
        border-radius: 7px;
        border: 2.5px solid var(--azul-mais-escuro);
    }

    input, select{
        padding: 10px;
        font-size: 0.8rem;
        margin-bottom: 40px;
    }

    .botao-senha{
        font-size: 0.8rem;
    }
    
    .botao-do-cadastro{
        padding: 8px 40px;
        font-size: 1.3rem;
        margin-top: 30px;
    }

    .rodape{
        flex-direction: column;
        text-align: center;
    }

    .primeiro-link-do-rodape{
        margin-bottom: 15px;
    }

    .segunda-seccao-do-rodape{
        padding: 15px 0;
    }
}

@media screen and (max-width:430px){
    .row{
        flex-direction: row;
    }

    .section-logo-do-cabecalho{
        max-width: 86vw;
        padding: 0 10px;
    }
    
    .barra-de-navegacao{
        width: 14vw;
        justify-content: space-between;
    }

    .botao-menu-icon{
        background-color: transparent;
        font-size: 40px;
        color: var(--azul-mais-escuro);
    }

    .botao-menu-icon:hover{
        color: var(--azul-menos-escuro);
    }

    .botao-menu-icon-2{
        display: none;
    }

    .lista-de-links-mobile{
        padding-bottom: 5px;
    }

    .lista-de-botoes-mobile{
        padding-bottom: 5px;
    }

    .primeiro-titulo-da-pagina{
        font-size: 1.8rem;
    }

    .segundo-titulo-da-pagina{
        font-size: 1.2rem;
    }

    .segunda-secao-da-parte-principal, .terceira-secao-da-parte-principal {
        padding: 0 20px;
    }

    .formulario{
        margin-bottom: 42px;
    }
}