:root{
    --verde: rgb(32, 202, 32);
    --vermelha: rgb(211, 39, 39);
}

/* ---------- x ---------- Cabeçalho ---------- x ----------*/
.section-logo-do-cabecalho{
    max-width: 8vw;
}

.barra-de-navegacao{
    width: 92vw;

}

.section-lista-de-links{
    width: 100%;
}

.ativo{
    color: var(--azul-mais-escuro) !important;
    border-bottom: 3px solid var(--azul-mais-escuro);
}

.paragrafo{
    color: #A8C6CC;
}

.item-pesquisador{
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-weight: normal;
    background-color: transparent;
}

.lista-de-links{
    display: flex;
    justify-content: space-around;
    width: 90%;
}

/* ---------- x ---------- Primeira seção ---------- x ----------*/
.primeira-secao{
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 20px 60px;
    margin-top: 30px;
}

.div-pesquisa{
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn-svg{
    border: 3px solid var(--azul-mais-escuro);
    border-radius: 5px 0 0 5px;
    background-color: transparent;
}

.btn-svg:hover{
    cursor: pointer;
    background-color: var(--azul-claro);
}

input::placeholder{
    color: var(--azul-claro);
}

.pesquisa{
    width: 50%;;
    padding: 10px 20px;
    font-size: 1.4rem;
    font-family: Nunito;
    border: 3px solid var(--azul-mais-escuro);
    border-left: none;
    outline-color: var(--azul-mais-escuro);
    border-radius: 0 5px 5px 0;
}

.div-botao{
    width: 20vw;
}

.botao{
    background-color: var(--azul-mais-escuro);
    color: white;
    width: 100%;
    padding: 10px 0;
    font-size: 1.5rem;
}

.botao:hover{
    background-color: var(--azul-menos-escuro);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* --------- x --------- Segunda seção --------- x ---------*/
.segunda-secao{ /*Para todas as seções que possuem artigos de publicações*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 20px;
    width: 100vw;
}

.artigo{
    display: flex;
    flex-direction: column;
    border: 3px solid var(--azul-mais-escuro);
    border-radius: 5px;
    width: 22%;
    margin-bottom: 40px;
}

.paragrafo{
    font-size: 1.1rem;
    color: var(--azul-menos-escuro);
    margin: 10px 10px 0 20px;
}

.a-botao{
    min-width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: var(--azul-mais-escuro);
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 10px;
}

.a-botao:hover{
    cursor: pointer;
    background-color: white;
    color: var(--azul-mais-escuro);
    transition: all 0.3s ease-in-out;
}

.div-botoes-2{
    display: flex;
    width: 100%;
}

.a-btn-2, .btn-2{
    width: 50%;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.4rem;
}

.a-btn-2{
    color: white;
    background-color: var(--verde);
    transition: all 0.3s ease-in-out;
}

.btn-2{
    color: white;
    background-color: var(--vermelha);
    transition: all 0.3s ease-in-out;
    border-radius: 0;
}

.a-btn-2:hover{
    color: var(--verde);
    background-color: white;
    cursor: pointer;
}

.btn-2:hover{
    color: var(--vermelha);
    background-color: white;
    cursor: pointer;
}

.rodape{
    margin-top: 0px;
}
/* --------- x --------- Responsividade --------- x ---------*/

@media screen and (max-width: 885px) {
    .ativo{
        display: none;
    }

    /*Menu mobile*/
    .menu-mobile-section{
        display: initial;
    }

    .open{
        display: flex;
    }
    
    .row{
        flex-direction: row;
    }

    .section-logo-do-cabecalho{
        max-width: 90vw;
        padding: 0 10px;
    }
    
    .barra-de-navegacao{
        width: 10vw;
        justify-content: space-between;
    }

    .botao-menu-icon{
        background-color: transparent;
        font-size: 40px;
        color: var(--azul-mais-escuro);
    }

    .botao-menu-icon:hover{
        color: var(--azul-menos-escuro);
        cursor: pointer;
    }

    .botao-menu-icon-2{
        display: none;
    }

    .section-lista-de-links-mobile{
        justify-content: space-between;
        text-align: center;
    }

    .lista-de-links-mobile{
        padding-bottom: 5px;
    }

    .lista-de-botoes-mobile{
        padding-bottom: 5px;
    }

    .padding-tb{
        padding: 5px 0;
    }

    .margin-bottom{
        margin-bottom: 18px;
    }

    .section-lista-de-links{
        width: 94vw;
        padding-left: 40px;
    }
    
    .lista-de-links{
        width: 90%;
    }

    .none{
        display: none;
    }

    .link-da-lista{
        font-size: 1.5rem;
    }

    .none{
        display: none;
    }
    
    .div-pesquisa{
        width: 100vw;
    }
    
    .div-botao{
        width: 0;
    }

    .botao{
        padding: 15px 2px;
        font-size: 1rem;
        font-weight: initial;
        width: 100%;
    }

    /* --------- x --------- Segunda seção --------- x ---------*/
    .segunda-secao{ /*Para todas as seções que possuem artigos de publicações*/
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px 20px;
        width: 100vw;
    }

    .artigo{
        display: flex;
        flex-direction: column;
        border: 3px solid var(--azul-mais-escuro);
        border-radius: 5px;
        width: 46%;
        margin-bottom: 40px;
    }

    .paragrafo{
        font-size: 1.1rem;
        color: var(--azul-menos-escuro);
        margin: 10px 10px 0 20px;
    }

    .rodape{
        flex-direction: column;
        text-align: center;
    }

    .primeiro-link-do-rodape{
        margin-bottom: 15px;
    }

    .segunda-seccao-do-rodape{
        padding: 15px 0;
    }
}

@media screen and (max-width: 430px) {
    .none{
        display: none;
    }
    
    .primeira-secao{
        padding: 0 20px;
    }
    
    .div-pesquisa{
        width: 100vw;
    }
    
    .pesquisa{
        width: 90%;
        padding: 14.5px 4px;
        font-size: 0.9rem;
    }
    
    .div-botao{
        width: 0;
    }

    .botao{
        padding: 15px 2px;
        font-size: 1rem;
        font-weight: initial;
        width: 100%;
    }

    .a-btn-2, .btn-2, .a-botao{
        font-size: 1.2rem;
    }

    .paragrafo{
        font-size: 1.1rem;
        color: var(--azul-menos-escuro);
        margin: 10px 10px 0 20px;
    }

    .artigo{
        width: 99%;
        margin-bottom: 25px;
    }
}